input {
    width: 50px;
    text-align:center;
    border:none;
    float: left;
}

audio {
    margin:15px;
}
h1 {
    float:left;
}

button {
    margin-left:15px;
}

.spaceing {
    margin-bottom:15px;
}

img {
    height:241px;
	width:340px;
 	opacity:0; 
	cursor: pointer;
}
