@font-face {
    font-family: Capriola-Regular;
    src: url(Capriola-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(BebasNeueRegular.ttf);
}

body {
	font-family: Capriola-Regular;
    background: url(../image/background/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
	line-height:none;
}

html, body {
    height: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.container {
    vertical-align: middle;
} 

.row2 {
    margin-left:127px;
    margin-top:-70px;
}

.row3 {
    margin-top:-70px;
}

.modal-content, .btn {
    border-radius:0px;
}

.btn {
    background-color:#7cbea2;
    border:none;
}

.btn:hover, .btn:active, .btn:focus,.btn-primary:focus, .btn-primary:active, {
    background-color:#c74629;
}

.hexImg {
    /* call fade in keyframes */
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s; 

    /* 	enable bum efect */
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
    }

.hexImg:hover, .playIcon:hover {
    -webkit-transform:translate(0px,10px);
    -moz-transform:translate(0px,-10px);
    -ms-transform:translate(0px,-10px);
    -o-transform:translate(0px,10px);
    transform:translate(0px,-10px);
}

/* add fade in keyframes */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gameTitle {
    position:absolute;
    top:90px;
    left:29px;
    text-align:center;
    font-size:2.9em;
    z-index:3;
}

#points {
	font-family: bebas;
    z-index:2;
    font-size:11em;
    position:absolute;
    z-index:3;
}

#points, .gameTitle {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}

.restartIcon, .playIcon, .hexImg {
    cursor: pointer;
}

.restartIcon {
    position: absolute;
    top: 67px;
    left:60px;
    height: 174.35px;
    width: 	156.75px;
    z-index:5;
        -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}

.restartIcon:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
    }


.playIcon{
    position: absolute;
    top: 62px;
    left:42px;
    height: 191px;
    width: 191px;
    z-index:4;
    /* 	enable bum efect */
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.hexagonBorder {
    position: absolute;
    top: 21px;
    left:16.4px;
    height: 269px;
    width: 242px;
    z-index:4;
}

.col-xs-12, .col-xs-3 {
    padding:0px !important;
}

.hexagonBlue {
	width:275px;
	height:317px;
	
}


.hexagon {
    position: relative;
    width: 275px; 
    height: 158.77px;
    margin: 79.39px 0;
    background-color: #81bba3;
    background-size: auto 312.9238px;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 194.45px;
    height: 194.45px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 38.27px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 271.0000px;
    height: 156.4619229503886px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-78.2310px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-78.2310px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-78.2310px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -97.2272px;
    border-top: solid 2.8284px #ffffff;
    border-right: solid 2.8284px #ffffff;
}

.hexTop:after {
    -webkit-backface-visibility: hidden;
    background-position: center top;
}

.hexBottom {
    bottom: -97.2272px;
    border-bottom: solid 2.8284px #ffffff;
    border-left: solid 2.8284px #ffffff;
}

.hexBottom:after {
    -webkit-backface-visibility: hidden;
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 1.1547px;
    left: 0;
    width: 271.0000px;
    height: 156.4619px;
    z-index: 2;
    background: inherit;
}